.infos-block {
    max-width: 32rem;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 1.5rem 1.5rem 3rem;
    position: relative;
    box-shadow: 0 5px 5px rgba($color: #000000, $alpha: 0.3);
}
